plugins:
  - jekyll-relative-links
relative_links:
  enabled: true
  collections: true
include:
  - README.md

theme: jekyll-theme-minimal
title: CosmoForward
description: 9 - 12 Feb 2026, Tenerife, Spain
logo: /images/logos.png
