plugins:
  - jekyll-relative-links
relative_links:
  enabled: true
  collections: true
include:
  - README.md

theme: jekyll-theme-minimal
title: CosmoForward
description: A critical review of current and future routes to cosmological results.
logo: /images/logos.png
